.modalWidth {
  .MuiDialog-paperWidthSm {
    min-width: 400px;
  }
}
.CancelCrossIcon {
  position: absolute;
  right: 4px;
  cursor: pointer;
  color: #fff;
  top: 4px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  background-color: #0076b2;
  border: 2px solid #0076b2;
  justify-content: center;
  z-index: 9;
  svg {
    width: 16px;
    height: 16px;
  }
  :hover {
    background: #0076b2;
    opacity: 0.8;
  }
}

.actionButton {
  position: absolute;
  bottom: 20px;
  right: 0;
  button {
    color: #000;
    background: #0076b2;
    text-transform: none;
    font-weight: 600px;
    width: 100px;
    margin: 5px;
  }
  button:hover {
    opacity: 0.8;
    color: #fff;
    background: #0076b2;
  }
  .buttonCancel {
    color: #fff;
    background: #999999;
  }
  .buttonCancel:hover {
    color: #fff;
    background: #999999;
  }
}
.dialogContent {
  height: 175px;
  margin-bottom: 50px;
  .MuiTextField-root {
    width: 100%;
    margin: 15px 0px;
  }
}
